[Unit]
Description=mrps
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/opt/mrps
ExecStart=/opt/mrps/mrps -config=../mrps.yaml
Restart=always
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE
NoNewPrivileges=true
StandardOutput=journal
StandardError=journal
SyslogIdentifier=mrps

[Install]
WantedBy=multi-user.target
