[Unit]
Description=Reverse Proxy Server
After=network.target multi-user.target

[Service]
User=ubuntu
WorkingDirectory=/opt/reverse-Proxy
ExecStart=/opt/reverse-proxy/run
Restart=always
StandardOutput=journal
StandardError=journal
SyslogIdentifier=reverse-proxy

[Install]
WantedBy=multi-user.target